.App {
  text-align: center;
  background-color: #ffffff;
  color: rgb(82, 82, 82);
  text-transform: uppercase !important;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.address {
  border-radius: 8px;
}

.input-style {
  height: 18px;
  border-radius: 6px;
}

.input-roles {
  border-radius: 8px;
  height: 24px;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(82, 82, 82);
  font-weight: 400;
}

.content {
  display: flex;
  flex-direction: column;
}
.content-right {
  padding-left: 6%;
}
.content-left {
  padding-right: 6%;
  border-right: 1px solid rgb(196, 196, 196);
  width: 40%;
}

.label {
  font-size: 20px;
  text-align: left;
}

.content-wrap {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background: rgb(248, 248, 248);
  box-shadow: rgb(221 221 221) 0px 0px 5px;
  padding: 16px 24px;
  border-radius: 8px;
}

.content-gender {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
