@font-face {
  font-family: "Mulish";
  src: local("Mulish"),
    url("./fonts/Mulish-Medium.ttf") format("truetype");
  font-weight: normal;
}

body {
  margin: 0;
  font-family: 'Mulish';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
